/*------------------------------------------------
#
# Body
#
--------------------------------------------------*/
html.js{margin:0 0 32px 0 !important;}
body{background:#2e3640;color:#2e3640;font-size:14px;font-size:1.0rem;font-family:'Lato',sans-serif;font-weight:300;line-height:1.6;z-index:0;border-top:102px solid #fff;}
.hide{display:none;}
.mobile{display:none;}
.pad{display:none;}
.desktop{display:block;}
p:empty{display:none;}

/* wordpress admin navigation to bottom */
body.admin-bar{margin-top:-28px;padding-bottom:28px;}
#wpadminbar{top:auto !important;bottom:0;}
#wpadminbar .quicklinks>ul>li{position:relative;}
#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper{bottom:28px;}

/*------------------------------------------------
#
# Site Colours
#
--------------------------------------------------*/
.black{color:#000;}
.white{color:#fff;}
.grey{color:#2e3640;}
.yellow{color:#f9cc71;}
.green{color:#82ac56;}
.blue{color:#54a5da;}
.purple{color:#ba4f9d;}
.orange{color:#eb6937;}
.pale-orange{color:#ef9d2f;}

/*------------------------------------------------
#
# Navigation
#
--------------------------------------------------*/
#navigation{position:fixed;background:#fff;padding:0 0 5px 0;margin:0;top:0;left:0;z-index:900;width:100%;color:#333;font-family:'Lato',sans-serif;opacity:0.9;border-bottom:1px solid #2e3640;}
#navigation img{padding:10px 0 0 0;}

#navigation nav ul#top{margin:11px 0 0 0;padding:0;}
#navigation nav ul#top li{font-size:12px;font-size:0.8rem;line-height:1.4;}

#navigation nav ul ul{display:none;}
#navigation nav ul li:hover > ul{display:block;}
#navigation nav ul{background:#fff;padding:0;margin:4px 0 0 0;list-style:none;position:relative;display:inline-table;float:right;}
	#navigation nav ul:after{content:"";clear:both;display:block;}
#navigation nav ul li{float:left;color:#000;}
	#navigation nav ul li a{display:block;padding:6px 8px;color:#000;text-decoration:none;}
	#navigation nav ul li a.logio{background:#eb6937;color:#fff;}
	#navigation nav ul li a.logio:hover,#navigation nav ul li a.logio:hover{background:#eb6937;}
	#navigation nav ul li:hover, #navigation nav ul li.current-menu-item{background:#eb6937;}
	#navigation nav ul li:hover a, #navigation nav ul li.current-menu-item a{color:#fff;}

#navigation nav ul ul{background:#fff;margin:-2px 0 0 0;padding:0;position:absolute;top:100%;}
	#navigation nav ul ul li{float:none;border-top:1px solid #2e3640;position:relative;padding:0;margin:0;text-align:left;width:150px;color:#000;}
	#navigation nav ul ul li:first-child{border-top:none;}
		#navigation nav ul ul li a{padding:8px;color:#000 !important;}
			#navigation nav ul ul li a:hover{background:#eb6937;color:#fff !important;}
	#navigation nav ul ul li:hover a, #navigation nav ul ul li.current-menu-item a{color:#fff !important;}

#navigation nav ul ul ul{position:absolute;left:100%;top:0;}

#navigation .searchsocial{display:block;width:100%;}
#navigation form{text-align:right;padding:10px 0;margin:0px 0 0 0;}
#navigation input{border:1px solid #ccc;color:#2e3640;padding:6px 8px 7px 8px;margin:0;font-family:'Lato',sans-serif;font-size:13px;font-size:0.9rem;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
#navigation input[type=submit]{border:1px solid #eb6937;background:#eb6937;padding:6px 8px 6px 8px;cursor:pointer;color:#fff;-webkit-appearance:none;font-family:'Lato',sans-serif;font-size:12px;font-size:0.8rem;font-weight:normal;}
.screen-reader-text{display:none;text-indent:-9999px;}

/*------------------------------------------------
#
# Slide menu
#
--------------------------------------------------*/
.mobile-menu, #showLeft{display:none;}

/*------------------------------------------------
#
# Header
#
--------------------------------------------------*/
#header{padding:0;margin:0;top:0;left:0;z-index:400;width:100%;color:#fff;font-family:'Lato',sans-serif;}
.headerpurple{background:#ba4f9d;}
.headeryellow{background:#f9cc71;}
.headergreen{background:#82ac56;}
.headerblue{background:#54a5da;}
.headerorange{background:#eb6937;}

/*------------------------------------------------
#
# bxslider
#
--------------------------------------------------*/
.bx-wrapper{position:relative;margin:0 auto 0 auto;padding:0;*zoom:1;max-height:300px !important;}
.bx-wrapper ul,.bx-wrapper ul li{margin:0;padding:0;list-style:none;}
.bx-wrapper img{max-width:100%;display:block;margin:0;padding:0;}
/** THEME
===================================*/
.bx-wrapper .bx-viewport{background:#fff;margin:0;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%;}
/* LOADER */
.bx-wrapper .bx-loading{min-height:50px;/*background: url(images/bx_loader.gif) center center no-repeat #fff;*/height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
/* PAGER */
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#2e3640;text-indent:-9999px;display:block;width:10px;height:10px;margin:10px 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:#eb6937;}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev{left:10px;background:url(../images/icons/controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-next{right:10px;background:url(../images/icons/controls.png) no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover{background-position:0 0;}
.bx-wrapper .bx-next:hover{background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}


/*------------------------------------------------
#
# image caption effect
#
--------------------------------------------------*/
.show{width:100%;height:100%;float:left;overflow:hidden;position:relative;text-align:center;cursor:default;background:#fff;display:block;}
.show .mask{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;}
/* THIRD */
.imgcap .more {display:inline-block;text-decoration:none;padding:10px;background:#eb6937;color:#fff;text-transform: uppercase;position:relative;font-size:12px;font-size:0.75rem;}
.imgcap .more:hover{background-color:#eb6937;}
.imgcap .mask{opacity:0;transition:all 0.4s ease-in-out;}
.imgcap img{/*transition:all 0.2s ease-in-out;*/}
.imgcap:hover img{filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter:gray;-webkit-filter:grayscale(100%);}
.imgcap:hover .mask{opacity:1;}


/*------------------------------------------------
#
# News
#
--------------------------------------------------*/
#news{background:#f1f1f1;padding:30px 0;margin:0;top:0;left:0;z-index:300;width:100%;border-top:1px solid #2e3640;}
#news h1{}
#news article p{display:block;margin:0 0 10px 0;}
#news article time{display:block;margin:0 0 20px 0;font-size:12px;font-size:0.7rem;}

/*------------------------------------------------
#
# Content
#
--------------------------------------------------*/
.main-content {background:#fff;padding-top:20px}
#content{background:#fff;padding:10px 0 20px 0;margin:0;top:0;left:0;z-index:300;width:100%;}
#content strong{color:#333;}
.required{color:#666;font-weight:bold;}
#content .logo{background:#fff;padding:0 20px;margin:0 0 20px 0;text-align:center;height:120px !important;line-height:120px;}
#content .logo img{vertical-align:middle;}
#content .tags ul{margin:-5px 0 5px 0;padding:0;}
#content .tags ul li{list-style:none;display:inline;margin:0;padding:0;font-size:12px;font-size:0.8rem;white-space:nowrap;line-height:2.3;}
#content .tags ul li a{background:#eb6937;padding:5px;color:#fff;}
#content .tags ul li a:hover{opacity:0.9;}

#content article h3{margin-bottom:10px;}
#content article small{display:block;margin:0 0 20px 0;font-size:12px;font-size:0.8rem;}

#content .entry-footer{margin-bottom:10px;}
#content .author,#content .meta-sep{display:none;}
#content .entry-date{font-size:12px;font-size:0.8rem;}
#content .cat-links a{background:#54a5da;padding:5px 8px;color:#fff;font-size:12px;font-size:0.8rem;}
#content .tag-links a{background:#eb6937;padding:5px 8px;color:#fff;font-size:12px;font-size:0.8rem;}
#content .comments-link a{background:#f9cc71;padding:5px 8px;color:#2e3640;font-size:12px;font-size:0.8rem;}
#content .review a{background:#fff;padding:5px 8px;font-size:12px;font-size:0.8rem;}

#content article.post{padding-bottom:30px;border-top:1px solid #2e3640;}
#content article.post:first-child{border-top:none;}

#content #nav-above{margin:35px 0 0 0;}
#content #nav-below{margin:0;}
#content #nav-above .nav-previous,#content #nav-above .nav-next{margin-bottom:30px;}
#content #nav-below .nav-previous,#content #nav-below .nav-next{margin-bottom:20px;}
#content #nav-above .nav-previous a,#content #nav-above .nav-next a,#content #nav-below .nav-previous a,#content #nav-below .nav-next a{background:#f9cc71;padding:5px 8px;color:#2e3640;}
#content #nav-above .nav-previous,#content #nav-below .nav-previous{float:left;}
#content #nav-above .nav-next,#content #nav-below .nav-next{float:right;}

#content .wpdm_file{}
#content .wpdm_file .cont{padding:0;display:inline;float:left;margin-bottom:20px;}

#content input[type=submit]{border:1px solid #eb6937;background:#eb6937;padding:10px;margin:20px 0 0 0;cursor:pointer;color:#fff;-webkit-appearance:none;font-family:'Lato',sans-serif;font-weight:normal;font-size:16px;font-size:1.1rem;}

#content h3{clear:left;}

.warning{display:block;color:#c10031;margin-bottom:10px;}
.form-allowed-tags{display:none;}

#comments{margin:20px 0;}
#respond{margin:20px 0;background:#f7f7f7;padding:1px 20px 18px 20px;}
.logged-in-as{display:none;}

#fb-root{display:none;}
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]{width:100% !important;}
.fullwidth{width:100% !important;}
.maxheight{max-height:159px !important;overflow:hidden;}

p#pinterest_wrapper > span{width:100% !important;height:600px;}

/*------------------------------------------------
#
# Blocks
#
--------------------------------------------------*/
.oddblock{background:#fff;padding:10px 10px 30px 10px;border-top:1px solid #333;}
.evenblock{background:#f7f7f7;padding:10px 10px 30px 10px;border-top:1px solid #333;}
.box{padding:0 0 20px 0;margin-bottom:20px;/*border:1px solid #c6c6c6;*/}
.box h2, h1, h1.resources{display:inline-block;background:#2e3640;margin:0 0 22px 0;font-size:12px;font-size:0.9rem;font-weight:400;padding:5px 10px;text-transform:uppercase;color:#fff;}
h1.entry-title{display:block;background:none;margin:0;font-size:22px;font-size:1.9rem;font-weight:400;padding:0;text-transform:uppercase;color:#2e3640;margin:20px 0 0 0;}
.box h3{margin:0 0 10px 0;font-weight:800;}
.box .icon{margin:0 0 0 -10px;}

#social .twitter small{display:block;font-size:12px;font-size:0.8rem;}
#social .twitter a{text-decoration:none;word-break:break-all;}

/*------------------------------------------------
#
# Tables
#
--------------------------------------------------*/
table{border-collapse:collapse;border-spacing:0;width:100%;}
table thead, table tfoot{background:#c3c3c3;}
table thead tr th,table tfoot tr th,table tfoot tr td{font-size:14px;font-size:1.0rem;text-align:left;padding:5px 10px;color:#2e3640;border:1px solid #2e3640;line-height:1.4;font-weight:bold;}
/*table thead tr th:first-child, table tfoot tr td:first-child{border-left:none;}
table thead tr th:last-child, table tfoot tr td:last-child{border-right:none;}*/
table tbody tr{background:#fff;}
table tbody tr:hover{background:#eee;}
table tbody tr td{font-size:14px;font-size:0.9rem;text-align:left;color:#2e3640;padding:5px 10px;vertical-align:top;border:1px solid #2e3640;line-height:1.4;}
/* table tbody tr td:hover{background:#2e6ea6;color:#fff;} */
table tbody tr td img{cursor:pointer;border:1px solid #fff;}
table tbody tr td img:hover{border:1px solid #000;}

/*------------------------------------------------
#
# Comments
#
--------------------------------------------------*/
#comments-list .reply{display:inline;background:#f9cc71;padding:5px 8px;}
#comments-list .reply a{color:#2e3640;}

#comments-list ul{list-style:none;margin:0;padding:0;}
#comments-list ul li.alt{list-style:none;background:#efefef;margin:0;padding:20px;border-top:1px solid #ccc;}
#comments-list ul li.odd{list-style:none;background:#f7f7f7;margin:0;padding:20px;border-top:1px solid #ccc;}
#comments-list ul li.even{list-style:none;background:#efefef;margin:0;padding:20px;border-top:1px solid #ccc;}
#comments-list ul li:first-child{border-top:none;}

.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
#comments-list li ul.children{margin-top:20px;}
#comments-list li ul.children .alt{list-style:none;background:#fff;padding:10px 20px 18px 20px;border-top:1px solid #ccc;}
#comments-list li ul.children .odd{list-style:none;background:#fff;padding:10px 20px 18px 20px;border-top:1px solid #ccc;}
#comments-list li ul.children .even{list-style:none;background:#fff;padding:10px 20px 18px 20px;border-top:1px solid #ccc;}
#comments-list li ul.children li:first-child{border-top:none;}

.commentlist .vcard {}
.commentlist .vcard cite.fn {}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {}
.commentlist .vcard cite.fn a.url {}

.commentlist .comment-meta {}
.commentlist .comment-meta a {}
.commentlist .commentmetadata {}
.commentlist .commentmetadata a {}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist {}
.commentlist li {}
.commentlist li p {}
.commentlist li ul {}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}


/*------------------------------------------------
#
# Forms
#
--------------------------------------------------*/
form{margin:0;}
label{font-size:14px;font-size:0.8rem;}
.form-item{padding:5px 0;margin:0;}
.form-required{color:#36c3ef;}
textarea{border:1px solid #2e3640;color:#666;padding:5px;width:98%;margin:0;font-family:'Lato',sans-serif;font-size:13px;font-size:1.0rem;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.drop-shadow.bottom{box-shadow:0 4px 2px -2px rgba(0,0,0,0.4);}
input, select{border:1px solid #2e3640;color:#666;padding:5px;margin:0;font-family:'Lato',sans-serif;font-size:13px;font-size:1.0rem;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}
select{overflow:hidden;text-overflow:ellipsis;}
option{white-space:nowrap;width:100%;}
input[type=submit]{border:1px solid #c6c6c6;background:#fff;padding:10px;cursor:pointer;color:#fff;-webkit-appearance:none;font-weight:bold;font-family:'Lato',sans-serif;font-size:13px;font-size:1.0rem;}
#comments input[type=submit]{border:none;background:#eb6937;}
input:focus,textarea:focus,select:focus{outline:#f7f7f7;}
input, textarea{-webkit-appearance:none;-webkit-border-radius:0;}
input[type=checkbox]{-webkit-appearance:checkbox}


/*------------------------------------------------
#
# Download Manager
#
--------------------------------------------------*/
.w3eden .download{background:#f7f7f7;display:block;border:1px solid #c6c6c6;margin:10px 10px 20px 0;float:left;width:30%;}
.w3eden .download-icon{float:left;padding:0 10px 5px 10px;}
.w3eden .download-content h4{font-size:13px;font-size:1.0rem;font-weight:bold;margin:10px 0 0 0;}
.w3eden .download-content h4 a{color:#eb6937;}
.w3eden .download-content .download-details{font-size:11px;font-size:0.7rem;padding:0 10px 10px 10px;}

.w3eden  .download-adapt {
	display:block;
	border:1px solid #c6c6c6;
	margin:10px 10px 20px 0;
	float:left;
	width:30%;
}
.w3eden  .download-adapt .download {
	width:100%;
	margin:0;
	border-top:0;
	border-left:0;
	border-right:0;
}
.w3eden .download-footer {
	margin: 2px;
}
.w3eden .download-footer .wpdm_icon {
	width: 32px;
	margin: 4px;
}

/*------------------------------------------------
#
# Footer
#
--------------------------------------------------*/
#footer{padding:40px 0;margin:0;top:0;left:0;z-index:100;width:100%;color:#fff;font-family:'Lato',sans-serif;}
#footer h2{display:inline-block;background:#fff;margin:0 0 22px 0;font-size:12px;font-size:0.9rem;font-weight:400;padding:5px 10px;text-transform:uppercase;color:#2e3640;}
#footer p{font-size:12px;font-size:0.7rem;padding:25px 0 0 0;margin:0;}
#footer img{margin:25px 20px 10px 0;}

/*------------------------------------------------
#
# Smartphones (portrait and landscape)
#
--------------------------------------------------*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	/*------------------------------------------------
	#
	# body
	#
	--------------------------------------------------*/
	body{border-top:none;}
	/*------------------------------------------------
	#
	# Navigation
	#
	--------------------------------------------------*/
	#navigation{position:relative;opacity:1;}
	#navigation nav ul{display:none;}
	#navigation nav ul.top{display:block;}

	/*------------------------------------------------
	#
	# Slide Menu
	#
	--------------------------------------------------*/
	.pad,.desktop{display:none;}
	#showLeftPad{display:none;}
	#showLeftMobile{display:block;}
	.mobile-menu{display:block;}
	.mobile-menu{background:#fff;position:fixed;z-index:1000;}
	.mobile-menu h3{background:#eb6937;color:#fff;font-size:1.4rem;padding:0.6em;margin:0;font-weight:300;text-align:right;border-bottom:1px solid #fff;}
	.mobile-menu ul{display:block;margin:0;padding:0;}
	.mobile-menu ul li{margin:0;padding:0;list-style:none;}
	.mobile-menu ul ul li{margin:0;padding:0 0 0 20px;list-style:none;}
	.mobile-menu ul li img{display:none;}
	.mobile-menu ul li a{display:block;color:#000;font-size:0.9rem;font-weight:400;text-decoration:none;text-transform:uppercase;}
	.mobile-menu ul li.active a{background:#eb6937;}
	.mobile-menu ul li.active a{color:#fff !important;}
	.mobile-menu ul li a:hover{background:#eb6937;color:#fff !important;}
	.mobile-menu ul li a:active{background:#eb6937;color:#fff !important;}
	/* Orientation-dependent styles for the content of the menu */
	.mobile-menu-vertical{width:260px;height:100%;top:0;z-index:1000; overflow:auto;}
	.mobile-menu-vertical a{padding:0.6em 1em;}
	.mobile-menu-left{left:0px;}
	.mobile-menu-left.mobile-menu-open{left:-260px;}
	.mobile-menu-push{overflow-x:hidden;position:relative;left:0;}
	/* Transitions */
	.mobile-menu,.mobile-menu-push{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
	#showLeftMobile{display:inline;float:right;margin:0 0 10px 0;width:30px;height:30px;text-align:center;background:url('../images/menu-button.png') center center no-repeat #eb6937;border:1px solid #fff;color:#fff;cursor:pointer;}
	#closeLeft{margin:5px 0 0 0;width:30px;height:30px;text-align:center;background:url('../images/close-button.png') center center no-repeat #eb6937;border:1px solid #fff;cursor:pointer;}
	button:focus{outline:none;}

	/*------------------------------------------------
	#
	# Content
	#
	--------------------------------------------------*/
}

/*------------------------------------------------
#
# iPads (portrait)
#
--------------------------------------------------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	/*------------------------------------------------
	#
	# Navigation
	#
	--------------------------------------------------*/
	#navigation nav ul{display:none;}
	#navigation nav ul.top{display:block;}
	#navigation img{padding:0 0 0 0;}
	/*------------------------------------------------
	#
	# Slide Menu
	#
	--------------------------------------------------*/
	.mobile{display:none;}
	#showLeftMobile{display:none;}
	#showLeftPad{display:block;}
	.mobile-menu{display:block;}
	.mobile-menu{background:#fff;position:fixed;z-index:1000;}
	.mobile-menu h3{background:#eb6937;color:#fff;font-size:1.4rem;padding:0.6em;margin:0;font-weight:300;text-align:right;border-bottom:1px solid #fff;}
	.mobile-menu ul{display:block;margin:0;padding:0;}
	.mobile-menu ul li{margin:0;padding:0;list-style:none;}
	.mobile-menu ul ul li{margin:0 0 0 20px;padding:0;list-style:none;}
	.mobile-menu ul li img{display:none;}
	.mobile-menu ul li a{display:block;width:100%;color:#000;font-size:0.9rem;font-weight:400;text-decoration:none;text-transform:uppercase;}
	.mobile-menu ul li.active a{background:#eb6937;}
	.mobile-menu ul li.active a{color:#fff !important;}
	.mobile-menu ul li a:hover{background:#eb6937;color:#fff !important;}
	.mobile-menu ul li a:active{background:#eb6937;color:#fff !important;}
	/* Orientation-dependent styles for the content of the menu */
	.mobile-menu-vertical{width:260px;height:100%;top:0;z-index:1000; overflow:auto;}
	.mobile-menu-vertical a{padding:0.6em 1em;}
	.mobile-menu-left{left:0px;}
	.mobile-menu-left.mobile-menu-open{left:-260px;}
	.mobile-menu-push{overflow-x:hidden;position:relative;left:0;}
	/* Transitions */
	.mobile-menu,.mobile-menu-push{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
	#showLeftPad{display:inline;float:right;margin:5px 0 10px 0;width:30px;height:30px;text-align:center;background:url('../images/menu-button.png') center center no-repeat #eb6937;border:1px solid #eb6937;color:#fff;cursor:pointer;}
	#closeLeft{margin:5px 0 0 0;width:30px;height:30px;text-align:center;background:url('../images/close-button.png') center center no-repeat #eb6937;border:1px solid #fff;cursor:pointer;}
	button:focus{outline:none;}

	/*------------------------------------------------
	#
	# Content
	#
	--------------------------------------------------*/
}

/*------------------------------------------------
#
# iPads (landscape)
#
--------------------------------------------------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	/*------------------------------------------------
	#
	# Slide Menu
	#
	--------------------------------------------------*/
	#showLeftMobile{display:none;}
	#showLeftPad{display:none;}
}


/* --------------------------------
 * ADAPT Style
 * -------------------------------- *
.adapt-overlay {
	background: url("../images/adapt-overlay.png");
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}*/
.adapt-title, h1.adapt-title, .adapt-title > a {
	color: #419cd6;
}
#content .adapt-tag-links a {
	background-color: #419cd6;
}

.border-right {
	border-right: 2px solid #eb6937;
  padding-right: 1%;
  margin-right: 0.8%;
}

.border-left {
	border-left: 2px solid #eb6937;
  padding-left: 1%;
  margin-left: -33px;
}

.widget-area, .widget-area li {
	font-size: 10px;
}

#content hr {
	background-color: #419cd6;
	margin: 2px;
}

.els-rating {
}
.els-rating-summary {
}

.els-rating-title {
	float: left; 
	font-size: 20px; 
	font-weight: bold; 
	margin-right: 15px;
	margin-top:0.5em;
}

.els-rating-rate {
}
.els-rating-rate-item {
	_border: 1px solid black;
	float:left;
	margin-right: 1em;
	text-align: center;
}
.els-rating-rate-item-title {
}
.els-rating-rate-item-points {
	display: inline-block;
}
.els-rating-rate-item-point {
	background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
}
.els-rating-rate-item-point_e{
	background-image: url(../images/point_e.png);
}
.els-rating-rate-item-point_d{
	background-image: url(../images/point_d.png);
}
.els-rating-rate-item-info {
	vertical-align: middle;
    margin-left: 5px;
}
.els-rating-votes {
	color: #eb6937;
	float: left;
    margin-left: 3px;
    margin-top: -3px;
	cursor: pointer;
}


