/*------------------------------------------------
#
# Body
#
--------------------------------------------------*/
body{border-top:130px solid #fff;}

/*------------------------------------------------
#
# Navigation
#
--------------------------------------------------*/
#navigation input[type=submit]{padding:4px 5px 3px 5px;font-weight:400;border:1px solid #eb6937;}

/*------------------------------------------------
#
# Image slider
#
--------------------------------------------------*/
.bx-wrapper{position:relative;margin:0 auto 0 auto;padding:0;*zoom:1;float:left;}

/*------------------------------------------------
#
# Content
#
--------------------------------------------------*/
.box h2{display:inline;background:#2e3640;margin:0 0 22px 0;font-size:12px;font-size:0.9rem;font-weight:400;padding:5px 10px;text-transform:uppercase;color:#fff;}
	box h2:after{content:"";clear:both;display:block;}
	
/*------------------------------------------------
#
# Footer
#
--------------------------------------------------*/	
#footer h2{display:inline;background:#fff;margin:0 0 22px 0;font-size:12px;font-size:0.9rem;font-weight:400;padding:5px 10px;text-transform:uppercase;color:#2e3640;}
	#footer h2:after{content:"";clear:both;display:block;}